@import '../../../styles.scss' ;

.navbar {
   padding: 0 0 0 0.5rem;
}

.navbar-nav .nav-item .nav-link {
   font-size: 2rem;
   padding: 1rem;
   &.active {
      color: white !important;
      background-color:$primary;
   }
}

header >nav > ul> li{
   text-align: center;
   &:hover {
      background: rgb(240, 240, 240);
      color: $primary;
   }
}

.hidden {
   visibility: hidden;
}