header {
   width: 100%;
}

.navbar {
   font-size: 2rem;
   color: white !important ;
   background-color:white;
}

.navbar-nav .nav-item {
   border-radius: 5px;
}

.navbar-nav .nav-item .nav-link {
   font-size: 2rem;
   padding: 1rem;
}

header >nav > ul> li:hover{
   background: rgb(240, 240, 240);
   color: var(--primary);
}

header >nav > ul> li > a {
   text-align: center;
}

.nav-pills .nav-link.active{
   color: white !important;
   background-color:var(--primary);
}

.hidden {
   visibility: hidden;
}