<header>
    <nav class="navbar navbar-expand-sm fixed-top navbar-light my-bg-primary ">
        <a class="navbar-brand" href="#">
            <img src="assets/logo_tp.png" id="navoverview"s width="80" height="60" class="d-inline-block align-top" alt="cloneMAP" loading="lazy">
        </a>
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="navbar-nav nav-pills d-flex justify-content-between" style="width:100%;">
            <li ngbNavItem="overview" class="nav-item flex-fill modules">
                <a ngbNavLink class="nav-link text-primary" routerLink="/overview">Overview</a>
            </li>
            <li ngbNavItem="ams" [ngClass]="active == 'overview' ? 'hidden' : ''" class="nav-item flex-fill modules">
                <a ngbNavLink class="nav-link text-primary" routerLink="/ams/{{id}}">AMS</a>
            </li>
            <li ngbNavItem="logger" [ngClass]="active == 'overview' ? 'hidden' : ''"  class="nav-item flex-fill modules">
                <a ngbNavLink class="nav-link text-primary" routerLink="/logger/{{id}}">Logger</a>
            </li>
            <li ngbNavItem="df" [ngClass]="active == 'overview' ? 'hidden' : ''" class="nav-item  flex-fill modules">
                <a ngbNavLink class="nav-link text-primary" routerLink ="/df/{{id}}" >DF</a>
            </li>
        </ul>
    </nav>
<!-- <div class="d-flex">
   <div ngbNav #nav="ngbNav" class="nav-pills" orientation="horizontal">
       <div [ngbNavItem]="overview">
           <a [ngbNavLink]="overview"> Overview</a>
       </div>
       <div [ngbNavItem]="ams">
           <a [ngbNavLink]="ams">AMS</a>
       </div>
       <div [ngbNavItem]="logger" >
           <a [ngbNavLink]="logger">Logger</a>
       </div>
       <div [ngbNavItem]="df">
           <a ngbNavLink>DF</a>
       </div>
   </div>
</div> -->
</header>
