<!--sidebar-->
<div *ngIf="MASID.length !== 0" class="sidebar">
<div class="nav">
    <div class="nav-item " *ngFor="let id of MASID, index as i" routerLinkActive="is-active">
        <a class="list-text" [routerLink]="['/ams', id]" >
            <p >MAS {{ id }}</p>
        </a>
    </div>
</div>
</div>   

<!--modal for uploading the agency-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Start new MAS</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="newMAS">Uploaded Contents</label>
            <textarea class="form-control" id="newMAS" (change)="onUpdateContent($event.target.value)" [(ngModel)]="display" rows="20">{{display}}</textarea>
        </div>                   
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" 
                        class="custom-file-input" 
                        id="inputMAS"
                        (change)="handleFileInput($event.target.files)">
                <label class="custom-file-label" for="inputMAS" >{{filename}}</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn my-btn" (click)="onCreateMAS()">Upload</button>
    </div>
</ng-template>

<!--modal for waiting the deletion of the agency-->
<ng-template #deleting let-modal>
    <div class="modal-body d-flex flex-column justify-content-center align-items-center">
        <div class="spinner-border delete-spinner" role="status">
            <span class="sr-only">deleting...</span>
        </div>
        <p class="mt-4 delete-text">deleting</p> 
    </div>
</ng-template>

<!--modal for deleted prompt -->
<ng-template #deleted let-modal>
    <div class="modal-body">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <p class="mt-4 delete-text">deleted</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn my-btn" (click)="closeModal()">OK</button>
    </div>
</ng-template>


<div *ngIf="MASID.length !== 0" class="content-container d-flex flex-column justify-content-start align-items-center">
    <div class="title">
        <div class="title-name" >Overview</div>              
        <button type='button' class='btn my-btn btn-create' (click)="openLg(content)">+ New MAS</button>
    </div>   
    <!--display the overview of agencies with tables-->
    <div id="tables">
        <div class="row justify-content-start">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-row" *ngFor="let MAS of MASsDisplay | paginate: { itemsPerPage: 12, currentPage: q }; index as i">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h3 (click)="onOpenMAS(MAS.id)">MAS {{MAS.id}}</h3>
                        <button class="btn btn-delete" (click)="onDeleteMAS(MAS.id, deleting, deleted)">
                            <div class="icon">
                            <i class="fas fa-trash"></i>
                            </div>
                        </button>
                    </div>

                    <div class="card-body">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>Name</th>
                                <td>{{ MAS.config.name }}</td> 
                            </tr>
                            <tr>
                                <th>Number of agents per agency </th>
                                <td>{{ MAS.config.agentsperagency }} </td>
                            </tr>
                            <tr> 
                                <th> Status of df</th>
                                <td>{{ MAS.config.df.active }} </td>
                            </tr>
                            <tr> 
                                <th> Status of logger </th>
                                <td>{{ MAS.config.logger.active }} </td>
                            </tr>
                            <tr> 
                                <th> Status of MQTT</th>
                                <td> {{ MAS.config.mqtt.active }} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <pagination-controls class="pagination" (pageChange)="q = $event"></pagination-controls>
</div>

<div *ngIf="MASID.length === 0" class="col-12 overview-empty d-flex flex-column justify-content-center align-items-center">  
    <div *ngIf="status==='Connecting......'" class="spinner-border process-spinner mb-5" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <p class="status mb-5">{{status}}</p>
    <button *ngIf="status==='Currently no MASs, create one......'" type='button' class="btn my-btn" (click)="openLg(content)">+ New MAS</button>  
</div>  







