.content-container {
   width: 90% ;
   padding-left: 5%;
}

/* overview without agency*/
.status {
   color: var(--primary-color);
   text-align: center;
   font-size: 50px;
   font-weight: 300;
}


.process-spinner {
   width: 8rem; 
   height: 8rem;
   color: var(--primary-color);
 }

.overview-empty {
   height: 100%;
   width: 100%;
}
.overview-empty button {
   height:60px;
   width: 160px;
   font-size: larger;
   background-color: var(--primary-color);
}

/* overview with agency*/

.title {
   height: 50px;
   display: flex;   
}

.title .title-name {
   font-weight: bold;
   font-size: 40px;
   color: rgb(85, 83, 83);
   padding-right: 20px;
}

.btn-create {
   height:40px;
}

#tables {
   width:100%;
   margin-top: 50px;
}

.table {
   margin-bottom: 0px;
}

.card {
   margin-bottom: 50px;
}

.card-header {
   color: var(--primary-color); 
}

.card-body {
   padding: 0px;
}

.btn-delete {
   width: 40px;
   height: 40px;
   background-color: var(--light-primary-color);
   color:white;
}

.hidden {
   display: none;
}

.pagination /deep/ .ngx-pagination .current {
   background:var(--light-primary-color);
 }

 .delete-spinner {
   width: 4rem; 
   height: 4rem;
   color: var(--primary-color);
 }

 .delete-text {
   color: var(--primary-color);
   text-align: center;
   font-size: 30px;
   font-weight: 100;   
 }







