/* overview without agency*/
.status {
   color: var(--primary-color);
   text-align: center;
   margin-top: 300px;
   font-size: 50px;
   font-weight: bold;

}

.overview-empty button {
   position: relative;
   margin-top: 60px;
   margin-left: 750px;
   height:60px;
   width: 160px;
   font-size: larger;
   background-color: var(--primary-color);
}



/* style of sidebar */

.sidebar {
   display: flex;
   flex-direction: column;
   margin-top: 30px;
   width: 110px;
   background:white;
}



.sidebar .nav .nav-item{
   padding-top:10px;
   padding-bottom:1px;  
   border-radius: 10px;
   width: 110px;
   text-align: center;
 
}

.sidebar .nav .nav-item a {
   color: var(--primary-color);
   text-decoration: none;
}



.sidebar .nav .nav-item:hover {
   background: rgb(240, 240, 240);

}

.sidebar > .nav > .nav-item.is-active{
   background: var(--background-primary-color)!important;
   color:var(--primary-color);
   font-weight: bold;
}



/* overview with agency*/

.maincontainer {
   padding-top: 10px;
   position: relative;
   display:flex;
   left: 0;
   top:60px;
   height: 100%;
   width:100%;
}

.contentcontainer {
   border-radius: 5px;
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.title {
   padding-top: 50px;
   padding-bottom: 50px;
   display: flex; 
     
}

.title .title-name {
   padding-left:600px;
   padding-right:20px;
   font-weight: bold;
   font-size: 40px;
   color: rgb(85, 83, 83)
}


.input {
   color: var(--primary-color);
   height: 50px;
   margin-top: px;
   margin-left:300px;
   margin-right:10px;

}


.btn-create {
   height:40px;
}

.search-btn {

   height: 50px;
   width: 50px;
   border: none;
   border-radius: 10px;
     
}

#tables {
   margin-top: 50px;
   margin-left: 60px;
   margin-right: 60px;
}

.table {
   margin-bottom: 0px;
}

.card {
   width: 400px;
   margin-bottom: 50px;
}


.card:hover {
   cursor: pointer;
   background-color: rgb(236, 232, 232);
}

.card-header {
   color: var(--primary-color); 
   display: flex;
}

.card-body {
   padding: 0px;
}

.btn-delete {
   width: 50px;
   height: 50px;
   margin-left:260px;
   background-color: var(--light-primary-color);
   color:white;
}

.hidden {
   display: none;
}



