/* overview without agency*/

.empty-overview {
   display: flex;
   height: 800px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}
.empty-overview > h1 {
   color: var(--primary-color);
   padding-bottom: 50px;
}

.empty-overview > button {
   height: 50px;
   width:  200px;
}

/* style of sidebar */

.sidebar {
   display: flex;
   flex-direction: column;
   margin-top: 30px;
   width: 110px;
   background:white;
}



.sidebar .nav .nav-item{
   padding-top:10px;
   border-radius: 10px;
   width: 110px;
   text-align: center;
 
}

/* .sidebar .nav .nav-item .list-text {
   height: 100%;
   width: 110px;
   

}  */ 

.sidebar .nav .nav-item a {
   color: var(--primary-color);
   text-decoration: none;
}



.sidebar .nav .nav-item:hover {
   background: rgb(240, 240, 240);

}

.sidebar > .nav > .nav-item.is-active{
   background: var(--background-primary-color)!important;
   color:var(--primary-color);
   font-weight: bold;
}



/* overview with agency*/

.maincontainer {
   padding-top: 10px;
   position: relative;
   display:flex;
   left: 0;
   top:60px;
   height: 100%;
   width:100%;
}

.contentcontainer {
   border-radius: 5px;
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.title {
   padding-top: 50px;
   padding-bottom: 50px;
   display: flex;   
   align-items: center;
   justify-content: center;
}

.title h2 {
   padding-right:50px;
}

#tables {
   margin-left: 60px;
   margin-right: 60px;
}

.card {
   width: 400px;
}

.card-header {
   color: var(--primary-color); 
   display: flex;
}

.btn-delete {
   margin-left:250px;
   background-color: var(--light-primary-color);
   color:white;
}



