@import 'src/styles.scss' ;

.overview-empty {
   padding-top: 40vh;
}

.status {
   color: $primary;
   text-align: center;
   font-size: 5rem;
   font-size: 5rem;
   font-weight: 300;
   line-height: 7rem;
}

.process-spinner {
   width: 8rem; 
   height: 8rem;
   color: $primary;
 }

.overview-empty button {
   height:6rem;
   width: 16rem;
   font-size: larger;
}

/* overview with agency*/


.title {
   height: 5rem;
   height: 5rem; 
}

.title .title-name {
   font-weight: bold;
   font-size: 5rem;
   color: rgb(85, 83, 83);
}

.title > .btn {
   height:4rem;
   font-size: 2rem;
}


.table {
   margin-bottom: 0rem;
}

.card {
   width:40rem;
   margin-bottom: 5rem;
}

.card-header {
   color: $primary; 
}

.card-body {
   padding: 0rem;
}

.card-header > .btn {
   width: 4rem;
   height: 4rem;
}

.hidden {
   display: none;
}

 .delete-spinner {
   width: 4rem; 
   height: 4rem;
   color: $primary;
 }

 .delete-text {
   color: $primary;
   text-align: center;
   font-size: 3rem;
   font-weight: 100;   
 }

 .pagination ::ng-deep .ngx-pagination .current {
   background: var(--secondary);
}

.myCustomTextArea {
   height: 60rem;
   font-size: 1.6rem;
 }










