<div class="maincontainer">
    <!--sidebar-->
    <div class="sidebar">
        <div class="nav">
            <div class="nav-item" *ngFor="let id of MASID, index as i" routerLinkActive="is-active">
                <a class="list-text" [routerLink]="['/ams', id]" >
                    <p >MAS {{ i }}</p>
                </a>
            </div>
        </div>
    </div>   

    <!--modal for uploading the agency-->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h2 class="modal-title">Start new MAS</h2>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="newMAS">Uploaded Contents</label>
                <textarea class="form-control" id="newMAS" (change)="onUpdateContent($event.target.value)" [(ngModel)]="display" rows="20">{{display}}</textarea>
            </div>                   
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" 
                            class="custom-file-input" 
                            id="inputMAS"
                            (change)="handleFileInput($event.target.files)">
                    <label class="custom-file-label" for="inputMAS" >{{filename}}</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn my-btn" (click)="onCreateMAS()">Upload</button>
        </div>
    </ng-template>

    <div class="contentcontainer"  >
        <div *ngIf="MASID.length !== 0">
            <div class="title">
                <div class="title-name" >Overview</div>              
                <button type='button' class='btn my-btn btn-create' (click)="openLg(content)">+ New MAS</button>
            </div>   
            <!--display the overview of agencies with tables-->
            <div id="tables">
                <div class="row">
                    <div class="col-md-4 my-row" *ngFor="let MAS of MASsDisplay | paginate: { itemsPerPage: 6, currentPage: q }; index as i">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <h3 (click)="onOpenMAS(MAS.id)">MAS {{i}}</h3>
                                <button class="btn btn-delete" (click)="onDeleteMAS(MAS.id)">
                                    <div class="icon">
                                    <i class="fas fa-trash"></i>
                                    </div>
                                </button>
                            </div>

                            <div class="card-body">
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <th>Name</th>
                                        <td>{{ MAS.config.name }}</td> 
                                    </tr>
                                    <tr>
                                        <th>Number of agents per agency </th>
                                        <td>{{ MAS.config.agentsperagency }} </td>
                                    </tr>
                                    <tr> 
                                        <th> Status of df</th>
                                        <td>{{ MAS.config.df.active }} </td>
                                    </tr>
                                    <tr> 
                                        <th> Status of logger </th>
                                        <td>{{ MAS.config.logger.active }} </td>
                                    </tr>
                                    <tr> 
                                        <th> Status of MQTT</th>
                                        <td> {{ MAS.config.mqtt.active }} </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <pagination-controls class="pagination" (pageChange)="q = $event"></pagination-controls>    
        </div>

        <div class="overview-empty" *ngIf="MASID.length === 0">       
            <div class="status">{{status}}</div>
            <button *ngIf="status==='Currently no MASs, create one......'" type='button' class="btn my-btn" (click)="openLg(content)">+ New MAS</button>      
        </div>
    </div>

</div>






