html,body {
    font-family: 'Lato', sans-serif;
/*     height: 100%;
    width:100%; */
    padding: 0;
    margin: 0;
}

:root { 
    --primary-color: rgb(102,102,255);
    --light-primary-color: #9696f3;
    --background-primary-color: #dadaf8;
}


/* style of navbar */

.navbar {
    font-size: 20px;
    color: white !important ;
    font-family: 'Lato', sans-serif;
    height: 60px;
    background-color:white;
}

.navbar-nav .nav-item {
    border-radius: 5px;
}

.navbar-nav .nav-item .nav-link {
    font-size: 20px;
    color: var(--primary-color);
    font-family: 'Lato', sans-serif;
}

.navbar-nav .nav-item .nav-link.active {
    background-color: var(--light-primary-color);
    color: white !important; 
}

header >nav > ul> li:hover{
    background-color:var(--light-primary-color);
    color: var(--primary-color);
}

header >nav > ul> li > a {
    text-align: center;
}


header {
    height:60px;
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
}


.modules {
    visibility: hidden;
}



.maincontainer {
    position: relative;
    display:flex;
    left: 0;
    top:60px;
    height: 100%;
    width:100%;
}


/* style of sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100px;
    background:white;
}

.sidebar .nav .nav-item {
    width: 100px;
}

.sidebar .nav .nav-item a {
    color: var(--primary-color);
}

.sidebar .nav .nav-item :hover {
    background: rgb(240, 240, 240);
}

.sidebar .nav .nav-item .nav-link.active{
    background: var(--background-primary-color)!important;
    color:var(--primary-color);
    font-weight: bold;
}


/* style of contentcontainer */ 


.contentcontainer {
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--background-primary-color);
}


/* overview without agencies */
.empty-overview {
    height:800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-primary-color);
}

.empty-overview > h1 {
    padding-top: 100px;
    color: var(--primary-color);
    padding-bottom: 50px;
    font-family: 'Lato', sans-serif;
    font-weight:700;
}

.empty-overview > button {
    height: 50px;
    width:  200px;
}


/* overview with agencies */ 

.contenttitle {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;   
    align-items: center;
    justify-content: center;
}

.contenttitle .lefttitle {
    padding-right:50px;

}



.card-header {
    color: var(--primary-color); 
}

.config, #containers, #agents {
    border: 2px solid var(--background-primary-color);
    border-radius: 10px;
    padding: 50px;
    width: 1200px;
    margin-top:50px;
    margin-left: 100px;;
    
}

/* #containers {
    border: 2px solid var(--background-primary-color);
    border-radius: 5px;
    width: 1600px;
    margin-top:50px
}

#agents {
    border: 2px solid var(--background-primary-color);
    border-radius: 5px;
    width: 1600px;
    margin-top:50px;
}
 */


.my-row {
    padding-bottom: 30px;
}

.my-btn {
    background-color: var(--light-primary-color);
    color: white;
}

.title {
    padding-top: 100px;
    padding-left: 100px;
}









