body {
    font-family: sans-serif;
}

.maincontainer {
    display: flex;
    height: 100%;
}

.sidebar {
    width: 5cm;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    top: 1;
    left: 0;
    background: rgb(230,230,230);
}

.sidebar p {
    padding: 2em 0em 0em 1em;
}

.sidebar ul {
    top: 0;
    left: 0;
    list-style: none;
    padding-left: 0;
}

.sidebar ul li a {
    color: rgb(0,0,0);
    text-decoration: none;
    display: block;
    padding: 1em 0em 1em 1em;
    background: rgb(222,222,222);
}

.sidebarcur {
    background: rgb(215,215,215);
}

.sidebar ul li a:hover {
    background-color: rgb(200,200,200);
}

.sidebar img {
    padding-top: 2em;
    padding-left: 20%;
    max-width: 60%;
    height: auto;
}

.contentcontainer {
    margin-left: 5cm;
    height: 100%;
    display: block;
}

.contentheader {
    /* display: block; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(102,102,255);
    color: rgb(0,0,0);
}

.contentmenu {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 1em;
}

.modules {
    display: none;
    color: rgb(255,255,255);
}

.contenttitle {
    margin: 3em 0em 1em 0em;
}

.content {
    margin: 1em 0em 5em 0em;
}

.contentbox {
    margin: 0em 0em 5em 0em;
}

textarea {
    width: 100%;
    height: 20em;
}

.footer {
    display: none;
    position: fixed;
    margin: 0 0 0 -0.5em;
    padding: 0.5em 1em;
    bottom: 0;
    background-color: rgb(150,150,150);
    width: 100%;
}

hr {
    margin: 0em 1em 1em 1em;
}

table {
    width: 100%;
}

th, td {
    text-align: left;
    padding: 0em 2em;
    font-weight: normal;
}

.tablehead {
    padding: 1em 5em;
}