.maincontainer {
   padding-top: 10px;
   position: relative;
   display:flex;
   left: 0;
   top:60px;
   height: 100%;
   width:100%;
}


/* style of sidebar */

.sidebar {
   display: flex;
   flex-direction: column;
   margin-top: 30px;
   width: 110px;
   background:white;
}

.sidebar .nav .nav-item{
   padding-top:10px;
   border-radius: 10px;
   width: 110px;
   text-align: center;
}

.sidebar .nav .nav-item a {
   color: var(--primary-color);
   text-decoration: none;
}

.sidebar .nav .nav-item:hover {
   background: rgb(240, 240, 240);
}

.sidebar > .nav > .nav-item.is-active{
   background: var(--background-primary-color)!important;
   color:var(--primary-color);
   font-weight: bold;
}




.contentcontainer {
   margin-top: 30px;
   border-radius: 5px;
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.notalive {
   display: flex;
   height: 800px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}
.notalive > h1 {
   color: var(--primary-color);
   padding-bottom: 50px;
}


/* style of the search bar */
.inputs {
   padding-top: 30px;
   padding-bottom: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}


/*style of the selection board */

.selectionBoard {
   margin-top:50px;
   margin-left: 50px;
}


.agent-title {
   color: rgb(85, 81, 81);
   font-size: 30px;
   margin-left: 30px;
   margin-top: 0px;
   width: 120px;
}

.topic-title {
   color: rgb(85, 81, 81);
   font-size: 30px;
   width: 100px;
   margin-bottom: 40px;
}

.row {
   margin-top: 5px;
}


.agents {
    width:800px;
    margin-left:15px;
    margin-top: -10px;
}


.agent-selected {
   height: 40px;
   width: 80px;
   text-align: center;
   border-radius: 40px;
   margin-right: 30px;
   margin-bottom: 10px;
   padding-top:10px;
   color:white;
   background-color: var(--light-primary-color);
   font-size: 20px;
   cursor: pointer; 
}

.agent-not-selected {
   height: 40px;
   width: 120px;
   text-align: center;
   border: solid rgb(226, 224, 224);
   border-radius: 40px;
   margin-right: 30px;
   margin-bottom: 10px;
   padding-top:8px;
   color: gray;
   font-size: 20px;
   cursor: pointer; 
}

.agent-not-selected:hover {
   border: none;
   background: var(--light-primary-color);
   color:white;
   padding-top:10px;
}

.more {
   height: 40px;
   width: 80px;
   text-align: center;
   border: dashed gray;
   border-radius: 40px;
   margin-right: 30px;
   margin-bottom: 10px;
   color: grey;
   font-size: 20px;
   font-weight: bold;
   padding-top: 8px;
   cursor: pointer; 
}


.agent-selected:hover {
   color: var(--background-primary-color);   
   background-color: var(--background-primary-color);
}

.agent-selected:hover p {
   display: none;
}

.delete {
   display: none;
}

.hidden {
   display: none;
}

.agent-selected:hover .delete {
   display: initial;
   color: var(--light-primary-color);
}



.tag{
   height: 40px;
   width: 80px;
   text-align: center;
   border: solid rgb(235, 229, 229);
   border-radius: 40px;
   margin-right: 30px;
   margin-bottom: 10px;
   padding-top: 8px;
   color: gray;
   font-size: 20px;
   cursor: pointer; 
}



.is-agent-active  {
   background-color: var(--light-primary-color);
   color: white;
   border: none;
   padding-top: 10px;
}

.between {
   margin-right: 20px;
}

.fa-search {
   margin-top: 15px;
   margin-left: 20px;
   cursor: pointer;
   
}

/* style of the nav tab */

.nav {
   margin-left: 30px;
}


.nav-item>.active>a, .nav-item>.active>a:hover, .nav-item>.active>a:focus {
   border-color: var(--background-primary-color);
   border-bottom-color: transparent;
}
.nav-tabs {
  border-bottom: 1px solid var(--background-primary-color);
}

.nav-link {
   color: gray;
}

.nav-link.active {
   color: var(--primary-color);
   font-weight: bold;
}




svg {
/*    border: 1px solid orange;  */

   position: absolute;
}
   
.vertical {
stroke: var(--light-primary-color);
stroke-width: 2;

}

.agentBox {
    fill: var(--light-primary-color);
}

text {
    fill: white;
    color: var(--primary-color);
}

.text-title {
   font: bold 30px; 
}



.error {
   fill: rgb(230, 109, 109);
}

.debug {
   fill: rgb(216, 216, 110);
}

.msg {
   fill: var(--light-primary-color);
}

.status {
   fill: rgb(126, 235, 149);
}

.app {
   fill: rgb(56, 202, 221);
}


.topics .selected {
   color: white;
   border: none;
}

.topics {
   position: fixed;
   right: 100px;
   top: 300px;
}


.topics .error-tag.selected {   
   background-color: rgb(230, 109, 109);
}


.topics .debug-tag.selected {
   background-color: rgb(216, 216, 110);

}

.topics .msg-tag.selected {
   background-color: var(--light-primary-color);
}

.topics .status-tag.selected {
   background-color: rgb(126, 235, 149);
}

.topics .app-tag.selected {
   background-color: rgb(56, 202, 221) ;
}

.log-series-graph {
   margin-top: 50px;
   width: 1200px;
}

ngx-charts-bubble-chart {
   padding-right: 100px;

}

.tt {
   font-size: 20px;
   height: 80px;
   width: 250px;
   text-align: center;
   padding: 10px;
}

#update {
   margin-left: 500px;
}

::ng-deep .gridline-path-vertical {      
   display: none; 
}
      


