<div class="maincontainer">
    <!--sidebar-->
    <div class="sidebar" *ngIf="MASs !== null">
        <div class="nav">
            <div class="nav-item" *ngFor="let MAS of MASs" routerLinkActive="is-active" [ngClass]="MAS.id === selectedMASID ? 'active' : ''">
                <a class="list-text"  [routerLink]="['/logger', MAS.id]" >
                  <p > MAS {{ MAS.id }}</p>
                </a>
            </div>
        </div>
    </div> 

    <!--modal for uploading the log-->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Add Agent</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div *ngFor="let id of notSelectedID">
                    <div class="agent-not-selected"  [ngValue]="id" (click)="onToggleID(id)">
                        agent {{id}}
                    </div>
                </div>
            </div>       
        </div>
        <div class="modal-footer">
            <button type="button" class="btn my-btn" (click)="onHandleSelectAgent()">OK</button>
        </div>
    </ng-template>


   <div class="contentcontainer">
        <div class="notalive" *ngIf="!alive" >
            <h1>Logger is not alive......</h1>
        </div>
        <div *ngIf="alive">
          
            <div class="selectionBoard d-flex">
                <div class="agentID d-flex align-content-end">
                    <div class="agent-title">agents</div>
                    <div class="agents">
                        <div class="row">
                            <div *ngFor="let id of selectedID" class="agent-selected col-lg-2 active" (click)="onToggleID(id)" [ngValue]="id" >
                                <p>agent {{id}} </p>
                                <div class="delete"><i class="fas fa-trash"></i></div>
                            </div>
                            <div class="more col-lg-1" (click)="openLg(content)">+ </div>

                        </div>
                    </div>  
                </div>

                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                      <input matStartDate formControlName="start" placeholder="Start date">
                      <input matEndDate formControlName="end" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  
                    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                  </mat-form-field>
                
                <button class="btn my-btn btn-search" (click)="onSearchLogs(matStartDate, matEndDate)"> Show the logs </button>
              
            </div>
              
  
            

  
<!--             <ul class="nav nav-tabs justify-content-end">
                <li class="nav-item">
                  <a class="nav-link" [class.active]="curr_state==='list'" (click)="onClickList()" >list</a>
                </li>
                <li class="nav-item" style="padding-right:100px;">
                  <a class="nav-link" [class.active]="curr_state==='UML'" (click)="onClickUML()">UML</a>
                </li>
            </ul> -->
            <ng-template #popContent> {{popoverContent}} </ng-template>


            <svg [attr.width]="width" [attr.height]="height">
                   <marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                        <path fill="var(--light-primary-color)" d="M0,-5L10,0L0,5"></path>
                    </marker>
                <rect class="agentBox" *ngFor="let box of agentBox" [attr.x]="box.x" [attr.y]="box.y" [attr.width]="boxWidth" [attr.height]="boxHeight"></rect>
                <text class="agentText" font-size="40px"  *ngFor="let text of texts, index as i" [attr.x]="text.x" [attr.y]="text.y"> Agent {{text.textID}} </text>
                <line stroke-dasharray="5, 5" class="vertical" *ngFor="let line of timeline" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="height"/>     
                <line stroke="var(--light-primary-color)" stroke-width="4" *ngFor="let line of communications" [class.hidden]="line.hidden" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" marker-end="url(#arrow)"/> 
                <rect class="logBox" *ngFor="let box of logBoxes, index as i" [class.hidden]="box.hidden" (click)="onChangePopoverContent(i)" [ngbPopover]="popContent" placement="right" container="body" [attr.x]="box.x" [attr.y]="box.y" [attr.width]="logBoxWidth" [attr.height]="logBoxHeight"
                [ngClass]="box.topic"
                ></rect>    
 
            </svg> 
            
            <div class="topics d-flex-column">
                <div class="topic-title"> Topic </div>
                <div [class.selected]="isTopicSelected[0]" class="error-tag tag" (click)="onToggleTopic(0)">error</div>
                <div [class.selected]="isTopicSelected[1]" class="debug-tag tag" (click)="onToggleTopic(1)" >debug</div>
                <div [class.selected]="isTopicSelected[2]"class="msg-tag tag" (click)="onToggleTopic(2)">msg</div>
                <div [class.selected]="isTopicSelected[3]" class="status-tag tag" (click)="onToggleTopic(3)">status</div>
                <div [class.selected]="isTopicSelected[4]" class="app-tag tag" (click)="onToggleTopic(4)">app</div>
            </div>      

        </div>
   </div>
   

</div>

