@import '../../../styles.scss' ;

.notalive {
   display: flex;
   height: 80rem;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}
.notalive > h1 {
   color: $primary;
   padding-bottom: 5rem;
}

.fa-search {
   margin-top: 1.5rem;
   margin-left: 2rem;
   cursor: pointer; 
}

/* agent selection board */

.agent-title {
   color: rgb(85, 81, 81);
   font-size: 3rem;
   width: 12rem;
}

.agents {
   width:80%;
   margin-left:1.5rem;
   margin-top: -1rem;
}

.agent-selected {
   height: 4rem;
   width: 12rem;
   text-align: center;
   border-radius: 4rem;
   margin-right: 3rem;
   margin-bottom: 1rem;
   padding-top:1rem;
   color:white;
   background-color: var(--secondary);
   font-size: 2rem;
   cursor: pointer; 
   
   &:hover {
      color: $background-primary-color;   
      background-color: $background-primary-color;
      .hidden {
         display: initial;
         color: var(--secondary);
      }
      p {
         display: none;
      }
   }
}

.agent-not-selected {
   height: 4rem;
   width: 12rem;
   text-align: center;
   border: solid rgb(226, 224, 224);
   border-radius: 4rem;
   margin-right: 3rem;
   margin-bottom: 1rem;
   padding-top:8px;
   color: gray;
   font-size: 2rem;
   cursor: pointer; 

   &:hover {
      border: none;
      background: var(--secondary);
      color:white;
      padding-top:1rem;
   }
}



.more {
   height: 4rem;
   width: 8rem;
   text-align: center;
   border: dashed gray;
   border-radius: 4rem;
   margin-right: 3rem;
   margin-bottom: 1rem;
   color: grey;
   font-size: 2rem;
   font-weight: bold;
   padding-top: 8px;
   cursor: pointer; 
}

.table {
   td, th {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;   
   }
}

/*topic selection board */

.topics {
   position: fixed;
   right: 10rem;
   top: 40rem;
}

.topic-title {
   color: rgb(85, 81, 81);
   font-size: 3rem;
   width: 10rem;
   margin-bottom: 4rem;
}

.tag{
   height: 4rem;
   width: 8rem;
   text-align: center;
   border: solid rgb(235, 229, 229);
   border-radius: 4rem;
   padding-top: 8px;
   color: gray;
   font-size: 2rem;
   cursor: pointer; 
}

.topics .selected {
   color: white;
   border: none;
}

.topics .error-tag.selected {   
   background-color: $error;
}

.topics .debug-tag.selected {
   background-color: $debug;
}

.topics .msg-tag.selected {
   background-color: var(--secondary);
}

.topics .status-tag.selected {
   background-color: rgb(126, 235, 149);
}

.topics .app-tag.selected {
   background-color: rgb(56, 202, 221) ;
}

.topics .beh-tag.selected {
   background-color: rgb(223, 170, 72) ;
}


/* svg graph */

/* log */
svg {
   position: absolute;
}
   
.vertical {
   stroke: var(--secondary);
   stroke-width: 2;
}

.agentBox {
    fill: var(--secondary);
}

.agentbox-text {
    fill: white;
}

.text-title {
   font: bold 3rem; 
}

.error {
   fill: $error;
}

.debug {
   fill: $debug;
}

.msg {
   fill: var(--secondary);
}

.status {
   fill: rgb(126, 235, 149);
}

.app {
   fill: rgb(56, 202, 221);
}

.beh {
   fill: rgb(223, 170, 72);
}


/* log series */

.log-series-graph {
   margin-top: 5rem;
   width: 120rem;
}

ngx-charts-bubble-chart {
   padding-right: 10rem;

}

.tt {
   font-size: 2rem;
   height: 8rem;
   width: 25rem;
   text-align: center;
   padding: 1rem;
}

#update {
   margin-left: 50rem;
}

::ng-deep .gridline-path-vertical {      
   display: none; 
}


/* statistics  */

.stats-dashboard {
   margin-top: 5rem;
}

.card {
   margin-bottom: 5rem;
}

.stats-dashboard > .card {
   background-color: var(--secondary);
   border: none;
   border-radius: 3rem;
   height: 15rem;
}

.pagination ::ng-deep .ngx-pagination .current {
   background: var(--secondary);
}

.card-title {
   color: white;
   text-align: center;
}

.card-text {
   color: white;
   font-size: 3rem;
   text-align: center;
   vertical-align: middle;
   line-height: 6rem; 

}

/* heatmap */
.heatmap-legend{
   background-color: red;
}

.xlabel {
   font-size: 2rem;
   fill: gray;
}

.ylabel {
   font-size: 2rem;
   fill: gray;
/*    transform: rotate(90deg); */
   transform-box: fill-box;
   transform-origin: center;
   transform: rotate(-90deg);
}


      


