.maincontainer {
   padding-top: 10px;
   position: relative;
   display:flex;
   left: 0;
   top:60px;
   height: 100%;
   width:100%;
}


/* style of sidebar */

.sidebar {
   display: flex;
   flex-direction: column;
   margin-top: 30px;
   width: 110px;
   background:white;
}

.sidebar .nav .nav-item{
   padding-top:10px;
   border-radius: 10px;
   width: 110px;
   text-align: center;
}

.sidebar .nav .nav-item a {
   color: var(--primary-color);
   text-decoration: none;
}

.sidebar .nav .nav-item:hover {
   background: rgb(240, 240, 240);
}

.sidebar > .nav > .nav-item.is-active{
   background: var(--background-primary-color)!important;
   color:var(--primary-color);
   font-weight: bold;
}




.contentcontainer {
   border-radius: 5px;
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.notalive {
   display: flex;
   height: 800px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}
.notalive > h1 {
   color: var(--primary-color);
   padding-bottom: 50px;
}


/* style of the search bar */
.inputs {
   padding-top: 30px;
   padding-bottom: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.input {
   color: var(--primary-color);
   height: 50px;
   margin-right:10px;
}


.btn-search {
   background-color: var(--light-primary-color);
   color:white;
   height: 50px;
   width: 50px;
   border: none;
   border-radius: 10px;
}

.btn-create {
   background-color: var(--light-primary-color);
   color:white;
   height: 50px;
   width: 50px;
   border: none;
   border-radius: 10px;
   font-size: large;
   font-weight: bold;
   margin-left: 30px; 
}
