@import 'src/styles.scss' ;

/* .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: $background-primary-color;
}
*/

h1 {
   padding-top: 3rem;
   color: var(--secondary);
   text-align: center;
}

td, th {
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;   
}

.title {
   color: var(--secondary);
   font-size:3rem;
   font-weight: bold;
}

.pagination ::ng-deep .ngx-pagination .current {
   background: var(--secondary);
}








