
<div class="pl-5 pt-5">

<div class="d-flex mb-5">
<div class="customized-table mr-5">
    <div class="title">
        <p>Config</p>
    </div> 
    <div class="table-contents upper">
    <table class="table default-fontsize">
        <tbody>
        <tr *ngFor="let item of MASConfig ">
            <td >{{item.name}}</td>
            <td >{{item.value}}</td>
        </tbody>
    </table> 
    </div>
</div>

<div class="customized-table mr-5">
    <div class="title">
        <p>Containers</p>
    </div> 
    <div class="table-contents upper">
    <table class="table table-striped default-fontsize">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">image</th>
            <th scope="col">agencies</th>                                             
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of containerInfo ">
            <th>{{item.id}}</th>
            <td>{{item.image}}</td>
            <td>{{item.agencies}}</td>
        </tbody>
    </table> 
    </div>
</div>

</div>

<div class="customized-table">
    <div class="title">
        <p>Agents</p>
    </div> 
    <div class="table-contents lower">
    <table class=" table table-striped default-fontsize">
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">type</th>
            <th scope="col">agency</th>                                                  
        </tr>
        <tbody>
        <tr *ngFor="let item of agentsInfo ">
            <th>{{item.id}}</th>
            <td>{{item.name}}</td>
            <td>{{item.type}}</td>
            <td>{{item.agency}}</td>
        </tbody>
    </table> 
    </div>
</div>


<!-- <div class="d-flex justify-content-end pr-5">
<pagination-controls class="pagination" (pageChange)="q = $event"></pagination-controls>
</div>
</div>
 -->
</div>








