.content-container {
   width: 90% ;
   padding-left: 5%;
}


.containers {
   border-radius: 10px;
   margin-top:50px;
}

td {
   text-align: center;
}

.pagination {
   width: 100%;
}

.pagination /deep/ .ngx-pagination .current {
   background:var(--light-primary-color);
 }

/* .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: var(--background-primary-color);
}
*/

h1 {
   padding-top: 30px;
   color: var(--light-primary-color);
   text-align: center;
}

.title {
   padding-bottom: 30px;
   padding-top: 20px;
   color: var(--light-primary-color);
   font-size:30px;
   font-weight: bold;
}

.card {
   width: 40rem;
   margin-bottom: 50px;
   padding: 0px;

}


.card-body {
   padding: 0px;
}


table {
   margin-bottom: 0px;
}







