
/* .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: var(--background-primary-color);
}
*/

h1 {
   padding-top: 3rem;
   color: var(--secondary);
   text-align: center;
}

.title {
   color: var(--secondary);
   font-size:3rem;
   font-weight: bold;
}

.pagination ::ng-deep .ngx-pagination .current {
   background: var(--secondary);
}







