.content-container {
   width: 90% ;
   padding-left: 5%;
}


.containers {
   border-radius: 1rem;
   margin-top:5rem;
}

td {
   text-align: center;
}


/* .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: var(--background-primary-color);
}
*/

h1 {
   padding-top: 3rem;
   color: var(--secondary);
   text-align: center;
}

.title {
   padding-bottom: 3rem;
   padding-top: 2rem;
   color: var(--secondary);
   font-size:3rem;
   font-weight: bold;
}

.card {
   width: 40rem;
   margin-bottom: 5rem;
   padding: 0rem;

}


.card-body {
   padding: 0rem;
}


table {
   margin-bottom: 0rem;
}

.pagination ::ng-deep .ngx-pagination .current {
   background: var(--secondary);
}







