<div class="maincontainer">
       <!--sidebar-->
    <div class="sidebar" *ngIf="MASs !== null">
        <div class="nav">
            <div class="nav-item" *ngFor="let MAS of MASs" routerLinkActive="is-active" [ngClass]="MAS.id === selectedMASID ? 'active' : ''">
                <a class="list-text"  [routerLink]="['/df', MAS.id]" >
                  <p > MAS {{ MAS.id }}</p>
                </a>
            </div>
        </div>
    </div>   
    
    <!--modal for uploading the service-->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h2 class="modal-title">Add Service</h2>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="newMAS">Uploaded Contents</label>
                <textarea class="form-control" id="newMAS" [(ngModel)]="display" (change)="onUpdateContent($event.target.value)" rows="20">{{display}}</textarea>
            </div>                   
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" 
                            class="custom-file-input" 
                            id="inputService"
                            (change)="handleFileInput($event.target.files)">
                    <label class="custom-file-label" for="inputService" >{{filename}}</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn my-btn" (click)="onCreateSVC()">Upload</button>
        </div>
    </ng-template>



   <div class="contentcontainer">
        <div class="notalive" *ngIf="!alive" >
            <h1>DF is not alive......</h1>
        </div>
   
        <div *ngIf="alive">
        <div class="inputs">
            <input #desc type="text" class="input" id="searchDesc" placeholder="Enter the description"/>
            <input #nodeid type="text" class="input"  id="searchNode" placeholder="Enter the node ID"/>
            <input #dist type="text" class="input" id="searchDist" placeholder="Enter the distance"/>
            <button class="my-btn btn-search" type="submit" (click)="onSearchSvcs(desc.value, nodeid.value, dist.value)">
                <i class="fas fa-search"></i>
            </button>
            <button type='button' class='btn my-btn btn-create' (click)="openLg(content)">+</button>
        </div> 
  
        <div class="content">
            <div class="empty-service" *ngIf="searched_results === null">
                <h1>No services found</h1>
            </div>
            <div class="service" *ngFor="let res of searched_results; index as i">
                <div class="service-header d-flex justify-content-between">
                    <h2>Service {{i+1}}</h2>
                    <i class="fas fa-angle-right" *ngIf="collapsed[i]" (click)="onToggleCollapsed(i)"></i>
                    <i class="fas fa-angle-down" *ngIf="!collapsed[i]" (click)="onToggleCollapsed(i)"></i>
                </div>
                <table class="table table-striped" *ngIf="!collapsed[i]">
                    <tbody>
                    <tr>
                        <th>MAS ID</th>
                        <td>{{res.masid}}</td>
                    </tr>
                    <tr>
                        <th>Agent ID</th>
                        <td>{{res.agentid}}</td>
                    </tr>
                    <tr>
                        <th>NODE ID</th>
                        <td>{{res.nodeid}}</td>
                    </tr>
                    <tr>
                        <th>Create Date</th>
                        <td>{{res.createdat}}</td>
                    </tr>
                    <tr>
                        <th>Change Date</th>
                        <td>{{res.changedat}}</td>
                    </tr>
                    <tr>
                        <th>Dist</th>
                        <td>{{res.dist}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
       

        
        </div>
    </div>

</div>

