<div class="maincontainer">
       <!--sidebar-->
    <div class="sidebar" *ngIf="MASs !== null">
        <div class="nav">
            <div class="nav-item" *ngFor="let MAS of MASs" routerLinkActive="is-active" [ngClass]="MAS.id === selectedMASId ? 'active' : ''">
                <a class="list-text"  [routerLink]="['/df', MAS.id]" >
                  <p > MAS {{ MAS.id }}</p>
                </a>
            </div>
        </div>
    </div>   
    
    <!--modal for uploading the agency-->
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Add Service</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="newMAS">Uploaded Contents</label>
                <textarea class="form-control" id="newMAS" [(ngModel)]="display" (change)="onUpdateContent($event.target.value)" rows="20">{{display}}</textarea>
            </div>                   
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" 
                            class="custom-file-input" 
                            id="inputMAS"
                            (change)="handleFileInput($event.target.files)">
                    <label class="custom-file-label" for="inputMAS" >{{filename}}</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn my-btn" (click)="onCreateSVC()">Upload</button>
        </div>
    </ng-template>



   <div class="contentcontainer">
        <div class="notalive" *ngIf="!alive" >
            <h1>DF is not alive......</h1>
        </div>
   
        <div *ngIf="alive">
        <div class="inputs">
            <input #desc type="text" class="input" id="searchDesc" placeholder="Enter the description"/>
            <input #nodeid type="text" class="input"  id="searchNode" placeholder="Enter the node ID"/>
            <input #dist type="text" class="input" id="searchDist" placeholder="Enter the distance"/>
            <button class="btn-search" type="submit" (click)="onSearchSvcs(desc.value, nodeid.value, dist.value)">
                <i class="fas fa-search"></i>
            </button>
            <button type='button' class='btn my-btn btn-create' (click)="openLg(content)">+</button>
        </div> 

        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
              <a class="nav-link" [class.active]="curr_state==='list'" (click)="onClickList()" >list</a>
            </li>
            <li class="nav-item" style="padding-right:100px;">
              <a class="nav-link" [class.active]="curr_state==='UML'" (click)="onClickUML()">UML</a>
            </li>
        </ul>
          
        <div class="content" *ngIf="curr_state === 'list'">
            <div class="empty-service" *ngIf="searched_results === null">
                <h1>No services found</h1>
            </div>
            <div *ngFor="let res of searched_results; index as i">
                <div class="card">
                    <h5 class="card-header">Service {{i+1}}</h5>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <th>MAS ID</th>
                                <td>{{res.masid}}</td>
                            </tr>
                            <tr>
                                <th>Agent ID</th>
                                <td>{{res.agentid}}</td>
                            </tr>
                            <tr>
                                <th>NODE ID</th>
                                <td>{{res.nodeid}}</td>
                            </tr>
                            <tr>
                                <th>Create Date</th>
                                <td>{{res.createdat}}</td>
                            </tr>
                            <tr>
                                <th>Change Date</th>
                                <td>{{res.changedat}}</td>
                            </tr>
                            <tr>
                                <th>Dist</th>
                                <td>{{res.dist}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <svg *ngIf="curr_state === 'UML'" width="1000" height="800">
            <defs>
            <marker id="arrow" viewBox="0 -5 10 10" refX="15" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                <path fill="gray" d="M0,-5L10,0L0,5"></path>
            </marker>
            </defs>
            <rect *ngFor="let rect of rects" [attr.x]= "rect.x" [attr.y]="rect.y" width="80" height="70"/>
            <text *ngFor="let t of texts;index as i" [attr.x]= "t.x" [attr.y]="t.y">S{{i+1}}</text>
            <line stroke-dasharray="5, 5" stroke-width="4" class="dashed" stroke="var(--primary-color)" *ngFor="let line of dashed_connection" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2"/> 
            <line class="vertical" stroke="var(--primary-color)" *ngFor="let line of services" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2"/>
            <line stroke-dasharray="5, 5" stroke="gray" stroke-width="4" *ngFor="let line of interactions" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2" [attr.y2]="line.y2" marker-end="url(#arrow)"/> 
        </svg>       

        
        </div>
    </div>

</div>

