.maincontainer {
   padding-top: 10px;
   position: relative;
   display:flex;
   left: 0;
   top:60px;
   height: 100%;
   width:100%;
}


/* style of sidebar */

.sidebar {
   display: flex;
   flex-direction: column;
   margin-top: 30px;
   width: 110px;
   background:white;
}

.sidebar .nav .nav-item{
   padding-top:10px;
   border-radius: 10px;
   width: 110px;
   text-align: center;
}

.sidebar .nav .nav-item a {
   color: var(--primary-color);
   text-decoration: none;
}

.sidebar .nav .nav-item:hover {
   background: rgb(240, 240, 240);
}

.sidebar > .nav > .nav-item.is-active{
   background: var(--background-primary-color)!important;
   color:var(--primary-color);
   font-weight: bold;
}

.contentcontainer {
   border-radius: 5px;
   position: relative;
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.notalive {
   display: flex;
   height: 800px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
}
.notalive > h1 {
   color: var(--primary-color);
   padding-bottom: 50px;
}

.alive {

   position: relative;
   display: flex;
   flex-direction: column;
}

.content {
   display: flex;
   flex-direction: column;
}


.inputs {
   padding-top: 30px;
   padding-bottom: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.input {
   color: var(--primary-color);
   height: 50px;
   margin-right:10px;
}

/* style of the card */ 
.empty-service {
   color: var(--light-primary-color);
   text-align: center;
}

.service {
   border: 2px solid var(--background-primary-color);
   width: 1200px;
   border-radius: 10px;
   margin-top:50px;
   margin-left: 200px;
}


.service-header {
   color: var(--light-primary-color);
   font-size: 30px;
   height:70px;
}

.service-header h2 {
   padding-top: 20px;
   padding-left: 20px;
}

.service-header i {
   padding-top: 20px;
   padding-right: 40px;
}

.pagination {
   margin: 50px 0px 50px 1200px;
}

.pagination /deep/ .ngx-pagination .current {
   background:var(--light-primary-color);
 }



/* style of the nav tab */

.contentcontainer .nav {
   margin-left: 30px;
}


.nav-item>.active>a, .nav-item>.active>a:hover, .nav-item>.active>a:focus {
   border-color: var(--background-primary-color);
   border-bottom-color: transparent;
}
.nav-tabs {
  border-bottom: 1px solid var(--background-primary-color);
}

.nav-link {
   color: gray;
}

.nav-link.active {
   color: var(--primary-color);
   font-weight: bold;
}

#graph {
   width: 100%;
   height: 800px;
   margin-right: 0px;

}


.node {
   color: var(--primary-color);
}

.notShow{
   z-index: -1;
}













