/* You can add global styles to this file, and also import other style files */

// override the primary-color in bootstrap
$primary: rgb(102,102,255);
$secondary: #9696f3;
$error: rgb(230, 109, 109);
$debug: rgb(216, 216, 110);
$spacer: 1.6rem;
/* primary colors used */
$background-primary-color: #dadaf8;

@import "bootstrap";

html {
   font-size: 62.5%;
}

html, body {
   font-family: 'Lato', sans-serif;
   width:100%;
}

app-root {
   width: 100%;
}

header {
   position: sticky;
   height: 7rem;
   z-index: 1000;
}

body {
   font-size: 16px;
   font-size: 1.6rem;
}

.default-fontsize {
   font-size: 1.6rem;
}


/* sidebar */

.sidebar {
   position: fixed;
   height: 100%;
   width: 12rem;
   overflow:scroll;
   padding-top: 1rem;

   >.nav {
      padding-bottom: 10rem;
   }

   >.nav  >.nav-item {
         padding-top:1rem;
         padding-bottom:1px;  
         border-radius: 1rem;
         width: 100%;
         text-align: center; 

         a {
            color: $primary;
            text-decoration: none;
         }
         
         &:hover {
            background: rgb(240, 240, 240);
         }

         &.is-active {
            background: $background-primary-color!important;
            color:$primary;
            font-weight: bold;
         }
      }

}

.content-container {
   margin-left: 14rem;
   z-index: -1;
}

/* nav tabs */
.nav-tabs .nav-item>.active>a, .nav-item>.active>a:hover, .nav-item>.active>a:focus {
   border-color: $background-primary-color;
   border-bottom-color: transparent;
}

.nav-tabs {
  border-bottom: 1px solid $background-primary-color;
  font-size: 1.6rem;
  margin-left: 3rem;

  .nav-link {
   color: gray;

   &.active {
      color: $primary;
      font-weight: bold;
   }
   
}

}


.btn-secondary{
   color:white;

   &:hover {
   background-color: $primary;
   box-shadow: 0 0 0 5px #eeeeee;
  }
   
}

mat-form-field  {
   width: 14rem; 
}



@media (max-width: 576px) {
   .content-container {
      margin-top: 30rem;
      margin-left: 0;
   }
   .sidebar {
      display: none;
   }
   
   }
   


 











