/* You can add global styles to this file, and also import other style files */
html,body {
   font-family: 'Lato', sans-serif;
/*     height: 100%;
   width:100%; */
   padding: 0;
   margin: 0;
}

:root { 
   --primary-color: rgb(102,102,255);
   --light-primary-color: #9696f3;
   --background-primary-color: #dadaf8;
}

#agents {
   margin-bottom: 100px;
}




.my-row {
   padding-bottom: 30px;
}

.my-btn {
   background-color: var(--light-primary-color);
   color: white;
}

.my-btn:hover {
   background-color: var(--primary-color);
   color: white;
   font: bold;
}

.title {
   padding-top: 100px;
   padding-left: 100px;
}










html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
